$main-color: #2E70A4 ;

.default-section-title{
    text-align: left;
    color:$main-color;
    font-size:14px;
    font-weight:bold;
}

.default-panel-title{
    @extend .default-section-title;
    font-size:12px;
}
.orange {
    color: #ee8c32;
}
.green {
    color: #ee8c32;
}
.negative {
    color: #cc0000;
}
.positive {
    color: #00cc00;
}
.res_num {
    font-size: 1.2em;
}
.saldo {
    font-size: 2em;
}
.bold{
    font-weight:bold
}

