$testBorder : 0px;
$dcol1 : 8.333333%;
$dcol2 : 16.666667%;
$dcol3 : 25%;
$dcol4 : 33.333333%;
$dcol5 : 41.666667%;
$dcol6 : 50%;
$dcol7 : 58.333333%;
$dcol8 : 66.666667%;
$dcol9 : 75%;
$dcol10 : 83.333333%;
$dcol11 : 91.666667%;
$dcol12 : 100%;